#puzzle {
	width: 50%;
	/* background-color: pink; */
	<!-- text-align: center; -->
}

.squares {
	border: 1px solid black;
	background-color: white;
	color: black;
	text-align: center;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: contextmenu;
}
.squares_blank { 
	border: 1px solid white;
	background-color: white	;
	color: black;
	text-align: center;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: contextmenu;
}

#across {
	padding: 2px;
}

#across ul {
	font-weight: bold;
}

#across ul li {
	list-style-type: none;
	font-weight: normal;
}

#down {
	padding: 2px;
}

#down ul {
	font-weight: bold;
}

#down ul li {
	list-style-type: none;
	font-weight: normal;
}

